body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
h1,
p,
ul{
    margin: 0px;
}

ul{
    padding: 0px;
    list-style: none;
}
img{
    max-width: 100%;
}
.header-bg{
    background: #000000;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}
.header-menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.header-menu a{
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    padding: 16px 0px;
    position: relative;
}
.header-menu a:after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after{
    width: 100%;
}

@media (max-width:800px){
    .header-menu{
        gap: 20px;
    }
    .header-menu a{
        background-color: #111111;
        border-radius: 4px;
        padding: 12px 16px;
    }
    .header-menu a:hover{
        background-color: #2E2E2E;
    }
    .header-menu a::after{
        display: none;
    }
}

@media(max-width: 600px){
    .header-menu{
        gap: 12px;
    }
    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}

.introducao-bg{
    background-color: #000000;
    color: #ffffff;

}
.introducao{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.introducao-conteudo{
    align-self: end;
    padding-bottom: 80px;
}
.introducao h1{
    font-size: 64px;
    line-height: 1.125;
    margin-bottom: 32px;
}
.introducao p{
    font-size: 24px;
    line-height: 1.5;
    color: #B2B2B2;
    margin-bottom: 20px;
}
.introducao a{
    color: inherit;
}