.bicicletas-lista {
    box-sizing: border-box;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
.bicicletas h2{
    margin-bottom: 40px;
}

.bicicletas-listas {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 40px;
    padding: 0 20px;
    margin: 0 auto;
    overflow-x: auto;
    padding-bottom: 30px;
}

.bicicletas-listas a{
    display: block;
}
.bicicletas-listas img{
    width: 460px;
    height: 520px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 16px;
}
.bicicletas-listas h3{
    color: var(--cor-11);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.bicicletas-listas h3::before{
    content: "";
    height: 8px;
    width: 12px;
    background-color: var(--cor-p1);
    display: inline-block;
    align-self: center;
    margin-right: 8px;
    transition: 0.2s;
}
.bicicletas-listas a:hover h3::before{
    width: 24px;
}
.bicicletas-listas li span{
    color: var(--cor-8);
    font: 500 1.125rem/0.75 "Roboto", sans-serif;
    padding-left: 20px;
}
@media (max-width:800px){
    .bicicletas{
        padding-top: 60px;
        gap: 20px;
    }
    .bicicletas-listas li{
        min-width: 280px;
    }
    .bicicletas-listas {
        overflow-x: auto;
        padding-bottom: 60px;
    }
}