.botao{
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    color:var(--cor-p5);
    padding: 16px 32px;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
}
@media(max-width:600px){
    .botao{
        padding: 12px 16px;
        font-size: 1rem;
    }
}
.botao:hover{
    background: linear-gradient(180deg, #FFB60D 0%, #E59317 100%);
}