.bicicleta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}
#bicicleta .titulo p{
    text-transform: uppercase;
}
.bicicleta-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicicleta-imagens a{
    flex: 1;
    min-width: 200px;
}
.bicicleta-imagens img:first-child{
    min-width: 100%;
}
.bicicleta-conteudo > p{
    margin-bottom: 32px;
}
.bicicleta-comprar{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-content: star;
    gap: 8px 12px;
    margin-bottom: 40px;
}
.bicicleta-comprar a{
    grid-row: span 2;
}
.bicicleta-comprar span{
    display: flex;
    gap: 8px;
    width: max-content;
    align-items: center;
    background-color: var(--cor-12);
    padding: 4px 8px;
    border-radius: 4px;
}
.bicicleta-conteudo h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
.bicicleta-informacoes{
    background-color: var(--cor-12);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    padding: 32px;
    gap: 35px 32px;
    margin-bottom: 40px ;
}
.bicicleta-informacoes img{
    width: 24px;
    margin-bottom: 8px;
}
.bicicleta-informacoes h3{
    margin-bottom: 8px;
}
.bicicleta-informacoes p{
    line-height: 20px;
}
.bicicleta-ficha{
    background-color: var(--cor-12);
    padding: 32px;
}
.bicicleta-ficha li{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--cor-11);
    padding-bottom: 5px;
    margin-bottom: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.bicicleta-ficha li:last-child{
    border: none;
}
.bicicleta-ficha li span{
    color: var(--cor-6);
}
@media(max-width:800px){
    .bicicleta{
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bicicleta-imagens{
        grid-row: 2;
    }
}
@media(max-width:400px){
    .bicicleta-informacoes,
    .bicicleta-comprar{
        grid-template-columns: 1fr;
    }
    
}