.introducao-bg{
    background-color: var(--cor-12);
    color: var(--cor-0);
    box-shadow: inset 0px -120px 0px var(--cor-0);
}
.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
.introducao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}
.introducao h1{
    margin-bottom: 32px;
}
.introducao p{
    margin-bottom: 20px;
    color: var(--cor-5);
}

@media(max-width: 1200px){
    .introducao h1{
        font-size: 48px;
        padding-bottom: 18px;
    }
}
@media(max-width:800px){
    .introducao-bg{
        background: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0px -60px 0px var(--cor-0);
    }
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
    }
    .introducao img{
        height: 300px;
        width: 100%;
    }
}