.introducao-bg{
    background-color: #000000;
    color: #ffffff;
    box-shadow: inset 0px -120px 0px #ffffff;
}
.introducao{
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    gap: 0 40px;
}
.introducao img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}
.introducao h1{
    font-size: 64px;
    line-height: 1.125;
    margin-bottom: 32px;
    font-family: "Poppins";
    font-style: normal;
}
.introducao h1 span{ 
    color: #ffbb00;
}
.introducao p{
    font-size: 24px;
    line-height: 1.5;
    color: #B2B2B2;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
}
@media(max-width: 1200px){
    .introducao h1{
        font-size: 48px;
        padding-bottom: 18px;
    }
}
@media(max-width:800px){
    .introducao-bg{
        background: #111111;
        padding-top: 40px;
        box-shadow: inset 0px -60px 0px #ffffff;
    }
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
    }
    .introducao img{
        height: 300px;
        width: 100%;
    }
}