 .seguros-bg{
    background: var(--cor-11);
}
#seguros .seguros{
    padding-top: 0px;
}
 .seguros{
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}
.seguros .container{
    margin-left: 0;
}
.seguros h2{
    grid-column: 1/-1;
}
.seguro-item{
    background: var(--cor-12);
    padding: 32px 32px 32px 60px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr auto;
}
.seguro-item h3{
    text-transform: uppercase;
    margin-bottom: 40px;
}
.seguro-item span{
    display: block;
    text-align: right;
}
.seguro-item ul{
    grid-column: 1/-1;
    margin-bottom: 32px;
}
.seguro-item li + li{
    margin-top: 20px;
}
.seguro-item li{
    position: relative;
    display: flex;
    align-items: center;
}
.seguro-item li::before{
    content: "";
    width: 13px;
    height: 9px;
    background-image: url(../../img/icones/lista.svg);
    position: absolute;
    left: -21px;
}
@media (max-width: 800px){
    .seguros{
        grid-template-columns: 1fr;
    }
}