.termos{
    padding-top: 60px;
    padding-bottom: 60px;
}
.termos h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
}
.termos p + h2{
    margin-top: 40px;
}
.termos p{
    margin-bottom: 24px;
    max-width: 75ch;
}
@media(max-width:800px){
    .termos{
        padding-top: 20px;
    }
}